html {
    background-image: url(./images/greens.jpg);
    background-size: cover;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    background-repeat: no-repeat;

}
.holeInput {
    width: 52px;
    min-height: 40px;
    font-size: 30px;
    padding: 0;
    margin: 0;

}
.scoreColumn{
    display: flex;
    height: 100%;
    background-color: whitesmoke;
}
.scoreColumn > div {
    overflow: hidden;
}
.playerColumn{
    width: 110px;
}
.playerColumn:first-child{
    margin-top: 125px;
}
.playerColumn > div:not(:first-child){
    margin-top: 20px;
}
.playerColumn > div{
    display: flex;
}
.playerColumn > div > div{
    border: 1px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 2px 5px;
}
.playerColumn > div > span{
    padding: 5px 5px 0 5px;
    color: red;
}
.holeNumber{
    text-align: center;
    border-bottom: 1px solid black;
}
.card{
    display: flex;
}
.column{
    border: 1px solid black;
    width: 55px;
    min-height: 80px;
}
.totalColumn{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px lightslategrey;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
}
#selectCourse{
    width: 250px;
}
#teeSelect{
    width: 100px;
}
.total{
    height: 18px;
    width: 55px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
.score{
    height: 111px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
.selects {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.inputs input{
    margin-left: 73px;
    border-radius: 5px;
}
.inputs input:not(:first-child){
    margin-top: 20px;
}
.playerInput{
    display: block;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.zip{
    margin-left: 73px;
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.build{
    text-align: center;
    margin-top: 30px;
}
.courseName{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 40px 0 75px 0;
    width: 100%;
    height: 50px;
    display: none;
}
.yards{
    text-align: center;
}
.yards2{
    text-align: center;
    border-bottom: 1px solid black;
}
.handicap{
    text-align: center;
}
.handicap2{
    text-align: center;
    border-bottom: 1px solid black;
}
.inOut{
    height: auto;
    width: 57px;
    background: whitesmoke;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.title{
    text-align: center;
    margin-top: 38px;
    margin-bottom: 27px;
}
.break{
    border-bottom: 1px solid black;
    height: 10px;
}
.clear{
    display: none;
}
.same{
    border: 1px solid red;
}